.w-0 {
    width: 0 !important;
    min-width: 0!important;
}

.w-5 {
    width: 5% !important;
    min-width: 5% !important;
}

.w-10 {
    width: 10% !important;
    min-width: 10% !important;
}

.w-15 {
    width: 15% !important;
    min-width: 15% !important;
}

.w-20 {
    width: 20% !important;
    min-width: 20% !important;
}

.w-30 {
    width: 30% !important;
    min-width: 30% !important;
}

.w-35 {
    width: 35% !important;
    min-width: 35% !important;
}

.w-40 {
    width: 40% !important;
    min-width: 40% !important;
}

.w-45 {
    width: 45% !important;
    min-width: 45% !important;
}

.w-55 {
    width: 55% !important;
    min-width: 55% !important;
}

.w-60 {
    width: 60% !important;
    min-width: 60% !important;
}

.w-65 {
    width: 65% !important;
    min-width: 65% !important;
}

.w-70 {
    width: 70% !important;
    min-width: 70% !important;
}

.w-80 {
    width: 80% !important;
    min-width: 80% !important;
}

.w-85 {
    width: 85% !important;
    min-width: 85% !important;
}

.w-90 {
    width: 90% !important;
    min-width: 90% !important;
}

.w-95 {
    width: 95% !important;
    min-width: 95% !important;
}

.box {
    padding: 20px;
}

.h-350px {
    height: 350px;
}

.sticky-block {
    position: sticky;
    position: -webkit-sticky;
    top: 68px;
}

.nav-tabs.v-tabs {
    flex-direction: column !important;
    min-height: 50vh;
    padding-bottom: 15px;
    border-bottom: none !important;
    border-right: var(--bs-nav-tabs-border-width) solid #a1a1a1;
}

.nav-tabs.v-tabs .nav-link {
    color: blue;
    margin-right: calc(-1.5 * var(--bs-nav-tabs-border-width));
    margin-bottom: 0;
    border-top: var(--bs-nav-tabs-border-width) solid transparent;
    border-bottom: var(--bs-nav-tabs-border-width) solid transparent;
    border-left: var(--bs-nav-tabs-border-width) solid transparent;
    border-right: none;
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: 0px;
    border-bottom-left-radius: var(--bs-nav-tabs-border-radius);
}

.nav-tabs.v-tabs .nav-item.show .nav-link,
.nav-tabs.v-tabs .nav-link.active {
    color: black;
    font-weight: bold;
    border-color: #a1a1a1;
    background-color: #f1f2f3;
    box-shadow: inset -25px 0px 50px #fff;
}

.navbar-brand img.logo {
    max-height: 50px;
}

main {
    margin: auto;
    max-width: 1920px;
}

main.columns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

main.columns>section.aside {
    display: inline-block;
}

main.columns section.aside:nth-child(1) {
    width: 340px;
}

main.columns section.aside:nth-child(2) {
    width: calc(100% - 340px);
}

.form-group {
    margin-bottom: 25px;
}

.form-label,
.col-form-label {
    font-size: 17px;
    font-weight: bold;
}

textarea.form-control {
    min-height: 140px !important;
}

.popover {
    width: 400px;
    max-width: 400px;
}

.flexilist-ul {
    overflow-y: auto;
    max-height: 200px;
}

.flexilist-ul.tallest {
    max-height: 400px;
}

.flexilist-ul li.flexilist-ul-item {
    display: block;
}

.flexilist-ul li .flexilist-ul-item-edit,
.flexilist-ul li .flexilist-ul-item-edit a {
    text-decoration: none;
}

.flexilist-ul li .flexilist-ul-item-edit.is-connected,
.flexilist-ul li .flexilist-ul-item-edit.is-connected a {
    color: #101010;
}

.flexilist-ul li.is-deleted .flexilist-ul-item-edit {
    text-decoration: line-through;
}

.flexilist-ul li.flexilist-ul-item:hover .flexilist-ul-item-edit {
    color: #101010;
}

.flexilist-ul li.flexilist-ul-item.is-deleted:hover .flexilist-ul-item-edit {
    text-decoration: line-through;
}

.flexilist-ul li a.flexilist-ul-item-action {
    opacity: 0;
    font-size: 80%;
    text-decoration: none;
}

.flexilist-ul li.flexilist-ul-item:hover a.flexilist-ul-item-action {
    opacity: 1;
}

.flexinputs.flexlist .form-group {
    margin-bottom: 5px !important;
}

table th {
    white-space: nowrap;
}

table th.w-min {
    width: 20px;
}

table th a.table-column-sortable {
    display: block;
    color: inherit;
}

.tooltip-inner {
    max-width: 700px;
}

.dropdown-wide .dropdown-menu {
    padding: 15px;
    width: 550px;
    max-height: 60vh;
    overflow: auto;
    border-radius: 0px !important;
}

.offcanvas {
    width: 1200px !important;
}

.offcanvas .form-label {
    font-weight: bold;
}

.offcanvas .carousel-item {
    text-align: center;
    color: #fff;
    background: #111;
    padding-top: 20px;
    padding-bottom: 45px;
}

.offcanvas .carousel-item img {
    height: 300px;
    border: 1px solid #f1f1f1;
}